@model TheTome.ViewModels.RegisterModel

<h2 class="text-center mt-3">Registration</h2>

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Email" class="form-label mt-4">Enter Email</label><br/>
            <input type="text" asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="form-label mt-4">Enter username</label><br/>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="form-label mt-4">Enter password</label><br/>
            <input asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="form-label mt-4">Confirm password</label><br/>
            <input asp-for="ConfirmPassword" class="form-control"/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group mt-4">
            <input type="submit" value="Registration" class="btn btn-primary"/>
        </div>
    </div>
</form>