@model IEnumerable<Book>

@{
    ViewData["Title"] = "Catalog";
}

<table class="table table-bordered table-striped" style="width: 100%">
	<thead>
	<tr>
		<th>
			Category Name
		</th>
		<th>
			Display Order
		</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var obj in Model)
	{
		<tr>
			<td width="40%">
				@obj.Title
			</td>
			<td width="30%">
				@obj.Author
			</td>
            <td width="30%">
				@obj.Price
			</td>
		</tr>
	}
	</tbody>
</table>