@model TheTome.WebApp.ViewModels.CartViewModel

@{
    ViewData["Title"] = "Added books to cart";
}

<div class="row mt-3">
    <h1>Cart</h1>

    <div class="card card-body col-sm-7 m-2">
        @await Html.PartialAsync("_BooksList", Model?.BooksViewModel)
    </div>

    <div class="card card-body col-sm-1 m-2">
        <p class="shadow rounded p-2 m-2">Total price: @Model.TotalPrice$</p>
        <p class="shadow rounded p-2 m-2">Number of books: @Model.BooksViewModel.Books.Count()</p>
        <p class="shadow rounded p-2 m-2">Order id: @Model.OrderId</p>
        <div class="shadow rounded p-2 m-2">
            <p class="p-1">In stores tomorrow (from 11:00)</p>
            <p class="p-1">Delivery to the point of issue: available</p>
        </div>
        <button class="btn btn-primary p-2 m-1">Place an order</button>
    </div>
</div>