@model User

<div class="pt-3 position-relative">
    <div class="text-center p-3 card display-6 position-absolute top-50 start-0">
        <img class="center-img img-fluid" src="" alt="Photo" style="height: 400px; width: 400px; border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem"/>
        <p class="card-text pt-2">@Model.Name</p>
        <p class="card-text">@Model.Email</p>
    </div>
    <div class="text-center position-absolute top-50 start-58 translate-middle-x">
        <section class="card">
            <h3 class="card-title card-header">About Me</h3>
            <p class="card-text card-body">Description some thing and another thing andDescription some thing and another thing andDescription some thing and another thing andDescription some thing and another thing and</p>
        </section>
        <section class="card mt-3">
            <h3 class="card-title card-header">About Me</h3>
            <p class="card-text card-body">Description some thing and another thing andDescription some thing and another thing andDescription some thing and another thing andDescription some thing and another thing and</p>
        </section>
        <section class="card mt-3">
            <h3 class="card-title card-header">About Me</h3>
            <p class="card-text card-body">Description some thing and another thing andDescription some thing and another thing andDescription some thing and another thing andDescription some thing and another thing and</p>
        </section>
    </div>
</div>