@model User

<div class="wrapper">
    
    <div class="box">
        <body>
        <label style="width: 30%">Username</label>
        <label style="width: 50%">Email</label>
        </body>
    </div>

    <div class="box">
        <body>
        <label style="width: 30%">@Model.Name</label>
        <label style="width: 50%">@Model.Email</label>
        <div class="w-75 btn-group" role="group">
            <a asp-controller="Profile" asp-action="ShowOrders" asp-route-id="@Model"
               class="btn btn-primary mx-2"> Show orders</a>
        </div>
        </body>
    </div>
</div>