@model IEnumerable<Order>

@{
    ViewBag.Title = "title";
    Layout = null;
}

<h2>Orders:</h2>
@foreach (var obj in  Model)
{
    <div class="text-center">
        <p class="card card-header m-3">Order id: @obj.Id</p>
        <p class="card card-header m-3">Date: @obj.Id</p>
    </div>
}