@{
    ViewData["Title"] = "About";
}

<div class="p-3">
    <section class="container">
        <div class="bg-welcome-img row-full text-center display-1">
            <p class="pt-5 fw-bold">Welcome. Here you will always find something to read</p>   
        </div>
    </section>
    <section class="mt-4">
        <h1 class="pb-3 text-center fw-bold ">Why our store?</h1>
        <div class="col-12 hstack text-center">
            <div class="col-4 container">
                <img src="https://img.icons8.com/ios/100/000000/delivery--v1.png" alt="Delivery" class="img-fluid center-img"/>
                <p class="p-3 plain-text">Delivery to any part of the country</p>
            </div>
            <div class="col-4 container">
                <img src="https://img.icons8.com/ios/100/000000/book.png" alt="Large selection" class="img-fluid center-img"/>
                <p class="p-3 plain-text">Large selection among competitors</p>
            </div>
            <div class="col-4 container">
                <img src="https://img.icons8.com/ios/100/000000/hint.png" alt="Rave reviews" class="img-fluid center-img"/>
                <p class="p-3 plain-text"> Lots of rave reviews from customers</p>
            </div>
        </div>
    </section>
    <section class="container mt-4">
        <div class="bg-words-img row-full">
            <div class="p-5">
                <div class="m-5">
                    <div class="card card-body m-5">
                        <h2>A large community of people who love books</h2>
                        <p class="plain-text">In our store, everyone can share their opinion and argue with others. 
                            You can choose a book based on reviews of ordinary readers and critics.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container mt-4 display-6">
        <div class="text-center">
            <h2>Rent any online book</h2>
            <p class="lead">If you are in doubt about the purchase, you can rent a book and read online anywhere.</p>
            <div class="col-12 hstack text-center" style="margin-left: -10rem">
                <div class="col-4 card border-secondary m-5 text-center" style="height: 50.5rem">
                    <div class="card-header">
                        <h4>Pleasantly</h4>
                    </div>
                    <div class="d-block user-select-none" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180">
                        <img src="Photos/bg-smartphone.jpg" class="img-fluid card center-img" role="img" style="width: 100%; height: auto"/>
                        <p class="p-2 plain-text">Enjoy the user-friendly interface of the reading app, and its features such as fast translation and search for chapters by description.</p>
                    </div>
                </div>
                <div class="col-4 card border-secondary m-5 text-center" style="height: 50.5rem">
                    <div class="card-header">
                        <h4>Available everywhere</h4>
                    </div>
                    <div class="d-block user-select-none" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180">
                        <img src="Photos/bg-availableEverywhere.jpg" class="img-fluid card center-img" role="img" style="width: 100%; height: auto"/>
                        <p class="p-2 plain-text">You can continue reading the book in the mobile app or the web version from where you left off last time.</p>
                    </div>
                </div>
                <div class="col-4 card border-secondary m-5 text-center" style="height: 50.5rem">
                    <div class="card-header">
                        <h4>Cheap</h4>
                    </div>
                    <div class="d-block user-select-none" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180">
                        <img src="Photos/bg-money.jpg" class="img-fluid card center-img" role="img" style="width: 100%; height: auto"/>
                        <p class="p-2 plain-text">Renting a book is cheaper than buying it permanently. Rent is suitable for all people who like to read</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        @Html.Partial("~/Views/Account/Register.cshtml")
    </section>
</div>


