@{
    ViewData["Title"] = "About";
}

<body>
<div class="bg-welcome-img row-full ">
    <h1 class="welcome-title-1 start-50">Welcome. Here you will always find something to read</h1>
</div>

<div class="pt-5 bg-2 row-full" style="height: 635px">
    <div style="margin-top: 50px; margin-left: 34rem; width: 300px">
        <h2 class="title-2 text-center">
            Buy books from people who buy them regularly
        </h2>
        <div class="ill-girl-and-dog"></div>
    </div>
    <div style="margin-top: -11rem; margin-left: 58rem; width: 300px" class="container">
        <div>
            <img src="https://lun-eu.icons8.com/a/vc5_tdnfq0CP24l39ZX83A/SXaiZHW8CkaJaNVbOXnZbg/hint.png" alt="reviews" style="margin-left: 53px"/>
            <div class="cloud-text p-2">
                <p class="sub-title">Lots of rave reviews from customers</p>
            </div>
        </div>
        <div style="margin-left: 13rem; display: inline-block">
            <img src="https://lun-eu.icons8.com/a/vc5_tdnfq0CP24l39ZX83A/QKsS3BCozECaVLMSiazQOw/book.png" alt="reviews" style="margin-left: 53px"/>
            <div class="cloud-text p-2">
                <p class="sub-title">Large selection among competitors</p>
            </div>
        </div>
        <div>
            <img src="https://lun-eu.icons8.com/a/vc5_tdnfq0CP24l39ZX83A/YTOUMqQeWU-xdqKnd5by1A/delivery--v1.png" alt="reviews" style="margin-left: 53px"/>
            <div class="cloud-text p-2">
                <p class="sub-title">Lots of rave reviews from customers</p>
            </div>
        </div>
    </div>
</div>

<div class="mt-5 text-center">
    <h2 class="title-2">Rent any online book</h2>
    <p class="sub-title">If you are in doubt about the purchase, you can rent a book and read online anywhere.</p>
    <div class="row mt-2" style="margin-left: 1.5rem">
        <div class="card-2 col-sm-6" style="padding: 0!important;">
            <figure class="card-thumb" style="margin: 0!important;">
                <img class="card-animation-img" src="https://lun-eu.icons8.com/a/vc5_tdnfq0CP24l39ZX83A/fPaBNyHQ-Uej0Nr2oycbIw/Rectangle%206.png" alt="Cool UI"/>
                <figcaption class="card-caption">
                    <h2 class="card-title">Pleasantly</h2>
                    <p class="card-snippet">Enjoy the user-friendly interface of the reading app, and its features such as fast translation and search for chapters by description.</p>
                </figcaption>
            </figure>
        </div>
        <div class="card-2 col-sm-6" style="padding: 0!important;">
            <figure class="card-thumb" style="margin: 0!important;">
                <img class="card-animation-img" src="https://lun-eu.icons8.com/a/vc5_tdnfq0CP24l39ZX83A/yGRGXdssJ0eC4SxikCKLRg/Rectangle%204.png" alt="Money"/>
                <figcaption class="card-caption">
                    <h2 class="card-title">Cheap</h2>
                    <p class="card-snippet">You can continue reading the book in the mobile app or the web version from where you left off last time.</p>
                </figcaption>
            </figure>
        </div>
        <div class="card-2 col-sm-6" style="padding: 0!important;">
            <figure class="card-thumb" style="margin: 0!important;">
                <img class="card-animation-img" src="https://lun-eu.icons8.com/a/vc5_tdnfq0CP24l39ZX83A/9PX90zC-sUyKs_hfw__v3g/Rectangle%205.png" alt="Available everywhere"/>
                <figcaption class="card-caption">
                    <h2 class="card-title">Available everywhere</h2>
                    <p class="card-snippet">Renting a book is cheaper than buying it permanently. Rent is suitable for all people who like to read</p>
                </figcaption>
            </figure>
        </div>
    </div>
</div>

<div class="mt-5 p-5 bg-2 row-full text-center">
    <h2 class="title-2">Tome - is people who love to read</h2>
    <p class="sub-title">Everyone can become the author of an article on their favorite topic</p>
    <div class="ill-girl-reading"></div>
</div>

<div class="mt-5" style="height: 600px">
    @await Html.PartialAsync("~/Views/Account/Register.cshtml")
</div>
</body>