html {
    font-size: 16px;
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

html {
    position: relative;
    min-height: 100%;
}


.book-presentation {
    border-radius: 0.25rem;
    transition: transform .2s
}

.book-presentation:hover {
    transform: scale(1.05);

}

#footer {
    position: absolute;
    bottom: -200px;
    width: 100%;
    height: 150px;
    background-color: #f5f5f5;
}

p {
    margin-bottom: 0;
}

.title {
    color: #000;
    font-size: calc(1.525rem + 3.3vw);
    line-height: 121px;
    padding-left: 10px;
}

.title span {
    display: inline;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: -10px 0 0 rgba(0, 0, 0, 0.5), 10px 0 0 rgba(0, 0, 0, 0.5);
    padding: 0 10px 0 0;
    color: #FFFFFF;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 80px;
    text-align: center;
}

li {
    font-size: 20px;
    display: inline-block;
}

.bg-welcome-img {
    background-image: url("../Photos/bg-welcome.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left: 386px;
    width: 1441px;
    height: 663px;
}

.welcome-title-1 {
    position: relative;
    text-align: end;
    top: 220px;
    width: 607px;
    height: 228px;
    color: #323130;
    font-size: 68px;
    font-weight: 300;
    line-height: 76px;
}

.title-2 {
    position: relative;
    color: #323130;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
}

.title-3 {
    position: relative;
    color: #323130;
    font-size: 28px;
    font-weight: 400;
    line-height: 37px;
    text-align: center;
}


.sub-title {
    position: relative;
    color: #323130;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.ill-girl-reading {
    position: relative;
    display: inline-block;
    margin-top: 25px;
    width: 325px;
    height: 377px;
    background: url(https://lun-eu.icons8.com/a/vc5_tdnfq0CP24l39ZX83A/VX8jrY060ECNceX99hU4Qw/%D1%87%D1%82%D0%B5%D0%BD%D0%B8%D0%B5.png) no-repeat;
}

.ill-girl-and-dog {
    position: absolute;
    top: 243px;
    width: 320px;
    height: 320px;
    background: url(https://lun-eu.icons8.com/a/vc5_tdnfq0CP24l39ZX83A/3RBiun_YI02G2bG3iBnEjw/%D0%BB%D0%B0%D1%81%D0%BA%D0%B8.png) no-repeat;
}

.cloud-text {
    position: relative;
    display: block;
    text-align: center;
    width: 214px;
    height: 76px;
    border-radius: 50px;
    background: rgba(52, 85, 139, 0.3);
    background-blend-mode: normal;
    transition: .4s ease-out;
}

.cloud-text:hover {
    background: #145c9f;
}

.bg-words-img {
    background-image: url("../Photos/bg-words.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 768px;
}

.bg-2 {
    position: relative;
    background: rgba(52, 85, 139, 0.1);
    background-blend-mode: normal;
}

.bg-blur::after {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);

    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.bg-blur {
    position: relative;
}

.content {
    position: relative;
    z-index: 1;
}

.content::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url('https://i.imgur.com/lL6tQfy.png');
    background-size: cover;
    width: 100%;
    height: 100%;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.round-img {
    border-radius: 100px;
}

.row-full {
    width: 99.5vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.card-2 {
    width: 400px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.card-2:hover .card-caption {
    top: 50%;
    transform: translateY(-50%);
}

.card-2:hover .card-animation-img {
    transform: translateY(-10px);
}

.card-2:hover .card-thumb::after {
    top: 0;
}

.card-2:hover .card-snippet {
    margin: 20px 0;
}

.card-thumb {
    position: relative;
    max-height: 400px;
    overflow: hidden;
}

@media (min-width: 1024px) {
    .card-thumb {
        max-height: 500px;
    }
}

.card-thumb::after {
    position: absolute;
    top: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 40%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}

@media (min-width: 1024px) {
    .card__thumb::after {
        top: calc(100% - 140px);
    }
}

.card-animation-img {
    width: 100%;
    transition: 0.5s ease-in-out;
}

.card-caption {
    position: absolute;
    top: 60%;
    z-index: 1;
    padding: 0 20px;
    color: white;
    transform: translateY(-60%);
    text-align: center;
    transition: 0.3s;
}

@media (min-width: 1024px) {
    .card-caption {
        top: calc(100% - 110px);
        transform: unset;
    }
}

.card-title {
    display: -webkit-box;
    max-height: 85px;
    overflow: hidden;
    font-size: 23px;
    line-height: 28px;
    text-shadow: 0px 1px 5px black;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-snippet {
    display: -webkit-box;
    max-height: 150px;
    margin: 32px 0;
    overflow: hidden;
    font-size: 16px;
    line-height: 20px;
    text-overflow: ellipsis;
    transition: 0.5s ease-in-out;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

@media (min-width: 1024px) {
    .card-snippet {
        margin: 80px 0;
    }
}

.card-button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
}

.card-button:hover {
    color: black;
    background-color: white;
}

.disclaimer {
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 2;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 10px;
    background-color: white;
    transform: translateX(-50%);
    font-size: 14px;
    text-align: center;
}

.disclaimer-link {
    color: #755d87;
    text-decoration: none;
}


