@using TheTome.ViewModels
@model User
@{
    ViewData["Title"] = $"{Model.Name}'s profile";
}

<div class="pt-3 row">
    <div class="text-center p-3 m-3">
        <img class="center-img profile-photo" src="@Model.Photo" alt="Photo"/>
        <h1 class="card-text pt-4">@Model.Name</h1>
        <p>@Model.AboutUser text test text test text test text test text test text test text test text test text test</p>
    </div>
    <div class="text-center m-3">
        @await Html.PartialAsync("_Posts", new PostsViewModel(Model.Posts.Take(3)))
    </div>
</div>