@model TheTome.ViewModels.PostsViewModel

@{
    Layout = null;
}

<div id="posts-list">
    @foreach (var obj in Model.Posts)
    {
        <a class="text-decoration-none " asp-controller="Community" asp-action="PostViewer" asp-route-postId="@obj.Id">
            <div class="post-presentation m-3">

                <h2 class="post-title text-center position-relative position-absolute start-50 translate-middle">@obj.Title</h2>

                <div class="post-content text-center m-1" id="postPreview-@obj.Id">
                </div>
                <script type="text/javascript">
                    (function() {
                        let postPreview = document.getElementById("postPreview-" + @obj.Id);
                        
                        let wrapper= document.createElement('div');
                        wrapper.innerHTML= "@Html.Raw(obj.HtmlContent)";
                            
                        postPreview.innerHTML = wrapper.getElementsByTagName('p')[0].outerHTML;
                    })();
                </script>
            </div>
        </a>
    }
</div>